.column {
	max-width: 800px;
}

#main-panel {
    min-width: 350px;
}

#bug-listing {
    min-width: 300px;
}

#helbert {
    display: block;
    position: fixed;
    bottom: -300px;
    width: 150px;
    z-index: 999999999;
}

#helbert-help {	
    display: none;
    opacity: 0.0;
    width:150%;
    margin-left: 10px;
}

#chat-prompt {
    position: fixed;
    bottom: 0;
    left: 2%;
}

#chat-prompt:hover {
    cursor: pointer;
    transition: .1s;
    background-color: black;
    color: white;
}

#resolution-required {
    display: none;
}