body {
    padding: 0;
    margin: 0;

    background-color: white;
    font-family: 'Lato', sans-serif;

    display: flex;
    align-content: center;
    justify-content: center;
}

#bee {
    z-index: 10;
    height: 5%;
    width: 5%;

    margin-top: 0;

    -webkit-animation: spin 10s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#body-center {
    width: 50%;
    min-width: 250px;
    max-width: 1000px;
    height: 100%;

    position: absolute;
    z-index: 50;
    border-left: 3px solid black;
    border-right: 3px solid black;
    text-align: center;

    overflow: hidden;
}