#body-center {
    opacity: 1;
    background-color: white;
}

body p {
    margin-top: auto;
    margin-bottom: auto;
}

#return {
    display: none;
}

#bug-recreate,
#bug-info {
    height: 10%;
    width: 90%;

    resize: none;
    margin-top: 12px;
    padding: 0;
    
    border: 1px solid black;
    border-radius: 0.5px;
}