#body-center {
    opacity: 1;
    background-color: white;
}

body p {
    margin-top: auto;
    margin-bottom: auto;
}

#return {
    display: none;
}

#bug-recreate,
#bug-info {
    height: 10%;
    width: 90%;

    resize: none;
    margin-top: 12px;
    padding: 0;
    
    border: 1px solid black;
    border-radius: 0.5px;
}

#helbert {
    visibility: hidden;
    position: fixed;
    bottom: -300;
    left: 0;
    width: 150px;
    z-index: 999999999;
}

#helbert-help {
    margin: 16px;
    visibility: none;
    opacity: 0.0;
}

#chat-prompt {
    padding: 0px 10px 0px;
    position: fixed;
    bottom: 0;
    left: 50px;
    border-style: solid;
    border-bottom: 0;
}

#chat-prompt:hover {
    cursor: pointer;
    transition: .1s;
    background-color: black;
    color: white;
}