{% load static %}

<html>
    <head>
        <title>
            WWUSTC Bug Tracker
        </title>

        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>

        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bug.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bug_index.css' %}">

        <script src="{% static 'js/submit_bug.js' %}"></script>
        <script src="{% static 'js/helper.js' %}"></script>
        <script>
            var csrf_token = '{{ csrf_token }}'
        </script>
    </head>
    <body>
        <div id='body-center'>
            <div id='body-title'>
                <h1>Submit a bug.</h1>
                <img id='bee' src='{% static 'icons/bee.svg' %}'>
            </div>
            <div id='body-form'>
                <h3>Give a detailed report of the bug</h3>
                <textarea maxlength='300' placeholder="An hour won't submit." id='bug-info'></textarea>
                <h5><span id='info-length'>0</span>/300</h5>
                <h3>How can we recreate it?</h3>
                <textarea maxlength='300' placeholder='Click this 5 times and..' id='bug-recreate'></textarea>
                <h5><span id='recreate-length'>0</span>/300</h5>

                <h3>Which team is this going to?</h3>

                <select class='team-select' id='bug-team'>
                    {% for k, v in teams %}
                        <option class='team-select' value={{ k }}>{{ v }}</option>
                    {% endfor %}
                </select>

                <br><br>

                <input type='submit' class='button' id='bug-submit'>
                <h4 id='warning' style='color: red; display: none;'>Please enter info before submitting.</h4>
            </div>
            {% if user.is_superuser %}
                <form action="/bug/admin">
                    <input type='submit' class='button' value="Go to admin page" />
                </form>
            {% endif %}
            <div id='helbert'>
                <h3 id='helbert-help'>
                    You look like you need help, 
                    my names Helbert.
                </h3>
                <img id='helbert-img' src='{% static "media/man_1.png" %}' alt='this is a peacock'>
            </div>
        </div>
        <div id='chat-prompt'>
            <h4 id='live-chat'>Live assistance</h4>
        </div>
        <p id='return'>
            Thank you for submitting feedback. 
            <a href='/'>Go back</a>
        </p>
    </body>
</html>