{% extends 'base.html' %}
{% load static %}

{% block title %}
Manage Bugs
{% endblock %}

{% block links %}
<script src="{% static 'js/bug_admin.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bug.css' %}" />
{% endblock %}


{% block content %}

{% csrf_token %}

<div class="centered row" id="bug-pane">
	<!-- Ticker Selector -->
	<div class="four wide computer eight wide tablet mobile column" id="bug-listing">
		<div class="ui attached message">
			<h2 class="ui centered header">
				Bugs
			</h2>
		</div>
		<div class="ui attached segment">
			<div class="ui accordion">
				{% for team in team_info %}
				<div class="title">
					<i class="dropdown icon"></i>
					{{ team.name }}
					<div id="open-count" style="float:right;" class="ui green label">
						{{ team.closed|length }}
					</div>
					<div id="closed-count" style="float:right;" class="ui red label">
						{{ team.open|length }}
					</div>
				</div>
				<div class="content">
					<div class="ui list">
					{% for open in team.open %}
						<div class="item bug"  id="bug-id">
						    <a class="ui label" id="{{ open.pk }}">
						      <i class="red bug icon"></i>
						      {{ open.pk }}
						    </a>
						 </div>
					{% endfor %}
					{% for closed in team.closed %}
						<div class="item bug"  id="bug-id">
						    <a class="ui label" id="{{ closed.pk }}">
						      <i class="green check icon"></i>
						      {{ closed.pk }}
						    </a>
						 </div>
					{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Main view -->
	<div class="eight wide computer sixteen wide tablet mobile center aligned column" id="main-panel">
		<div class="ui attached message">
			<h2 class="ui header">
				View a bug
			</h2>
			<div class="ui large bottom left attached label">
				<i class="icon" id="bug-label-icon"></i>
				<div class="detail" id="bug-label-id">
				--
				</div>
			</div>
		</div>
		<div class="ui attached segment">
			<div class="ui form">
				<div class="ui centered header">Description</div>
	            <textarea class='field' rows=5 readonly="true" id='bug-info'></textarea>
	            <div class="ui centered header">Recreaction</div>
	            <textarea class='field' rows=5 readonly="true" id='bug-recreate'></textarea>
	            <div class="ui hidden divider"></div>
	            <div class="ui grid">
	            	<div class="centered row">
		            	<div class="eight wide center aligned column">
				            <div class="ui header">Team</div>
				            <span style='' class='text' id='bug-team'>...</span>
			            </div>
			            <div class="eight wide center aligned column">
				            <div class="ui header">Submitted by</div>
				            <span style='' class='text' id='user'>...</span>
		            	</div>
	           	 	</div>
	           	 	
	        	</div>
	        </div>
		</div>
	</div>

	<!-- Padding -->
	<div class="four wide computer eight wide tablet mobile column" id="bug-update">
		<div class="ui attached message">
			<h2 class="ui centered header">
				Update
			</h2>
		</div>
		<div class="ui attached center aligned segment">
			<div class="ui form">
				<div class="ui three column centered grid">
					<div class="left floated column">
						<div class="ui red basic label" id="resolution-required">
							Required
						</div>
					</div>
					<div class="column">
						<div class="ui centered header">
							Resolution
						</div>
					</div>
					<div class="right floated column">
						<div style="float: right;" class="ui label">
							<span id="resolution-length">0</span>/300
						</div>
					</div>	
				</div>
				<div class="field">
					<textarea rows=5 readonly="true" id='bug-resolution'></textarea>
				</div>
				<div>
					<div class="ui header">Resolved by</div>
				    <span class='text' id='resolved-by'>...</span>
				</div>
				<div class="ui hidden divider"></div>
				<button class="ui primary disabled button" id="btn-resolve">Resolved</button>
				<button class="ui disabled button" id="btn-unresolve">Unresolved</button>
				<button class="ui disabled red button" id="btn-delete">Delete</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}