{% load static %}

<html>
    <head>
        <title>
            Admin
        </title>

        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>

        <script src="{% static 'js/admin_request.js' %}"> </script>

        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bug_admin.css' %}">
    </head>
    <body>
        <div id='info-lab' style="margin-bottom: 24px;">
            <h2>
                Click a button to view a bug
            </h2>
            <h4>Bug:</h4>
            <textarea class='text-box' readonly="true" id='bug-info'></textarea>
            <h4>Recreaction:</h4>
            <textarea class='text-box' readonly="true" id='bug-recreate'></textarea>
            <h4>Team assignment:</h4>
            <span style='' class='text' id='bug-team'>...</span>
            <h4>Submitted by:</h4>
            <span style='margin-bottom: 64px' class='text' id='user'>...</span>

            <h4>Mark as..</h4>
            <select id='resolved'>
                <option value='True'>Fixed</option>
                <option value='False'>Active</option>
                <option value='delete'>Deleted</option>
            </select>
            <br>
            <br>
            <button id='resolved-button'>Submit</button>
        </div>
        <ul>
            {% for i in bugs %}
                {% if i.resolved %}
                    <li > <button class='bug-button' style='background-color: #5dc16a'>{{ i.pk }}: by {{ i.user.first_name }} {{ i.user.last_name }}</button> <p style='display:none;'>{{i.pk}}</p> </li>
                {% else %}
                    <li> <button class='bug-button' style='background-color: #aa4b54'>{{ i.pk }}: by {{ i.user.first_name }} {{ i.user.last_name }} </button> <p style='display:none;'>{{i.pk}}</p> </li>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>