{% extends 'base.html' %}
{% load static %}

{% block title %}
Manage Bugs
{% endblock %}

{% block links %}
<script src="{% static 'js/bug_admin.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bug.css' %}" />
{% endblock %}


{% block content %}

<div class="centered row">
	<!-- Ticker Selector -->
	<div class="four wide column" id="bug-listing">
		<div class="ui attached message">
			<h4 class="ui header">
				Bug listing
			</h4>
		</div>
		<div class="ui styled accordion">
			{% for team in team_info %}
			<div class="title">
				<i class="dropdown icon"></i>
				{{ team.name }}
				<div style="float:right;" class="ui green label">
					{{ team.closed|length }}
				</div>
				<div style="float:right;" class="ui red label">
					{{ team.open|length }}
				</div>
			</div>
			<div class="content">
				<div class="ui list">
				{% for open in team.open %}
					<div class="item"  id="bug-id">
					    <a class="ui label" id="{{ open.pk }}">
					      <i class="red bug icon"></i>
					      {{ open.pk }}
					    </a>
					 </div>
				{% endfor %}
				{% for closed in team.closed %}
					<div class="item"  id="bug-id">
					    <a class="ui label" id="{{ closed.pk }}">
					      <i class="green check icon"></i>
					      {{ closed.pk }}
					    </a>
					 </div>
				{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- Main view -->
	<div class="eight wide center aligned column" id="main-panel">
		<div class="ui attached message">
			<h2 class="ui header">
				View a bug
			</h2>
			<div class="ui large top left attached label">
				<i class="icon" id="bug-label-icon"></i>
				<div class="detail" id="bug-label-id">
				--
				</div>
			</div>
		</div>
		<div class="ui attached segment">
			<div class="ui form">
				<div class="ui centered header">Description</div>
	            <textarea class='field' rows=5 readonly="true" id='bug-info'></textarea>
	            <div class="ui centered header">Recreaction</div>
	            <textarea class='field' rows=5 readonly="true" id='bug-recreate'></textarea>
	            <div class="ui hidden divider"></div>
	            <div class="ui grid">
	            	<div class="centered row">
		            	<div class="eight wide center aligned column">
				            <div class="ui header">Team</div>
				            <span style='' class='text' id='bug-team'>...</span>
			            </div>
			            <div class="eight wide center aligned column">
				            <div class="ui header">Submitted by</div>
				            <span style='' class='text' id='user'>...</span>
		            	</div>
	           	 	</div>
	           	 	
	        	</div>
	        </div>
		</div>
	</div>

	<!-- Padding -->
	<div class="four wide column"></div>
</div>


{% endblock %}