{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Thanks!</title>
	<script type="text/javascript" src="{% static 'semantic/semantic.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bug2.css' %}" />

</head>
<body>
<div class="ui center aligned middle aligned grid">
	<div class="two wide column">

		<div class="ui attatched message">
			<h2 class="ui header">Bug submitted!</h2>
		</div>
	</div>
</div>
</body>
</html>