{% extends 'base.html' %}
{% load static %}

{% block title %}
Thanks!
{% endblock %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bug.css' %}" />
{% endblock %}

{% block content %}

<div class="centered row">
	<div class="four wide center aligned column">
		<div class="ui message">
			<h2 class="ui header">
				Thanks for submitting a bug!
			</h2>
			<i style="padding-top:10px; padding-bottom:10px;" class="huge icons">
			  <i class="big red dont icon"></i>
			  <i class="bug icon"></i>
			</i>
			<p>
				Our best staff will get right on that A.S.A.P!<br>
				Rest assured, it will be fixed in no time
			</p>
		</div>
	</div>
</div>

{% endblock %}